{% extends "layouts/base_page.html" %} 

{% block 'title' %} 
  Login 
{% endblock %}

{% block 'content' %} 
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0&appId=471857011191468&autoLogAppEvents=1" nonce="09Vr3Ea6"></script>
  <div class ="container w-50 mt-5 p-3  border"> 
      {% load crispy_forms_tags %}
      <form method="POST" class="form-group">
        {% csrf_token %} 
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary mt-3">Login</button>

        <div class="d-flex flex-column my-4">
          <a class="" href="{% url 'password_reset' %}">Reset password</a>
        </div>
      </form>
      {% if request.session.activate_MSG %}
      <div>
        <p>
          {{ request.session.activate_MSG }}
        </p>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
          <div class="d-grid gap-3 col-6 mx-auto">
              <a href="{% url 'social:begin' 'facebook' %}" class="mt-3 btn btn-primary text-light" role="button">
                Login with Facebook 
              </a>
            </div>
          </div>
          <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
        </div>
        <p class="text-center mt-5">Don't have an accout? <a href="{% url 'register' %}">Create an account</a> </p>
        
  </div>
{% endblock %}
