{% extends "layouts/base_page.html" %} 

{% block 'title' %} 
  Login 
{% endblock %}

{% block 'content' %} 
<div id="fb-root"></div>
  <div class ="container w-50 mt-5 p-3  border"> 
      {% load crispy_forms_tags %}
      <form method="POST" class="form-group">
        {% csrf_token %} 
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary mt-3">Login</button>

        <div class="d-flex flex-column my-4">
          <a class="" href="{% url 'password_reset' %}">Reset password</a>
        </div>
      </form>

        <p class="text-center mt-5">Don't have an accout? <a href="{% url 'register' %}">Create an account</a> </p>
        
  </div>
{% endblock %}
