{% extends 'layouts/base_page.html' %}

{% block title %} {{category.label}} Categories {% endblock title %}

{% block 'content' %}
{% include 'includes/sidenav-categories.html' %}

<div style="width:50%;margin-left:26rem;text-align:center;">
    <h2 class= "mt-5 ml-3"> Campaigns in {{category.label}} fundraising </h2>
    <hr>
    <div class="mt-5 mb-5  ">
        <div class="container">
            <p class="text-center mt-5"> There are no running campaigns for this fundraising right now!</p>
        <!-- {% if campaigns %}
        {% else %}
        {% endif %} -->
        </div>
    </div>
</div>
{% endblock 'content' %}