<!DOCTYPE html>
<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% block title %} {% endblock %} Crowd Funding
  </title>

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">

  {% include "includes/sidenav-categories.html" %}

  <div class="main-content" style="position: relative;">

    {% include "includes/navigation.html" %}

    {% block content %}{% endblock content %}
    {% include "includes/footer.html" %}
  </div>

  <!-- Specific JS goes HERE -->
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>
