
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <meta charset="UTF-8">
    <title>
      {% block 'title' %}
      {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-fixed w-100">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Crowd Funding Django</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">About Us</a>   
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contact Us</a>  
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'register'%}">Register</a>  
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'login'%}">Login</a>  
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'logout'%}">Logout</a>   
                    </li>
                
                </ul>

                <form method="post" action="{% url 'search_page' %}" class="d-flex" >
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"> 
                        <a href="{% url 'search_page' %}" class="text-light"> Search </a>
                    </button>
                </form>
            </div>
        </div>
    </nav>

  <div class="container py-5">
    {% block 'content' %}  {% endblock 'content' %}
  </div>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  
</body>
</html>
