a {
    text-decoration: none !important;
}
nav {
    z-index: 5;
}
#home_section {
    position: absolute;
    width: calc(100% - 300px);
    right: 0;
    top: 56px;
}
#home_section .img {
    width: 100vw;
    height: 80vh;
    margin: auto;
    object-fit: cover;
}
#home_section .car_container{
    min-width: 450px;
    min-height: 200px;
    background-color: #000000b8;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    border-radius: 8px;
}
#home_section h2 {
    font-size: 40px;
}
#home_section .banner {
    position: relative;
  }

#home_section .banner img {
    width: 100%;
    height: auto;
    margin: 5px 0px;
    border-radius: 1rem;
}

#home_section .btn1 {
    position: absolute;
    top: 70%;
    left: 73%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#home_section .btn1:hover {
    background-color: rgb(54, 50, 50);
    color: wheat;
}

/* ----------------------------------- side bar -------------------------- */

#sidebar {
    width: 300px;
    background-color: #ddd;
    position: fixed;
    top: 56px;
    height: 100vh;
    padding: 14px;  
}
#sidebar .funding_span{
    color: red;
}
#sidebar  h2 {
    color: blue; 
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
#sidebar h5 {
    cursor: pointer;
    padding: 5px;
}