<!-- Footer -->
<footer class="footer p-4 mt-5 bg-dark" style="width:100%; ">
    <div class="row align-items-center justify-content-center">
        <div class="text-center text-xl-left">
          <a
            target="_blank"
            href="https://github.com/ab-gad/crowdFunding_django"
            class="font-weight-bold ml-1 text-light "
            > &copy; ITI_Minia - Team_4 - <span class="text-danger"> Crowd Funding Django </span> </a>
        </div>
      <div class="col-xl-6">
        <div class="text-center text-xl-right text-light">
        </div>
      </div>
  </footer>
</div>
